DB_PASSWORD=kuchli-parol-shu-yerga
SESSION_DAYS=30
TRIAL_DAYS=7
SUBSCRIPTION_DAYS=30
PAYMENT_CARD=8600000000000000
PAYMENT_HOLDER=ISM FAMILIYA
ADMIN_USERNAME=admin
ADMIN_PASSWORD=kuchli-admin-paroli-shu-yerga
